<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech2etc Ecommerce Tutorial</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <section id="header">
            <a href="#"><img src="img/logo.png" alt="" width="135px"></a>
            <div>
                <ul id="navbar">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a class="active" href="shop.html">Cửa hàng</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Liên hệ</a></li>
                    <li id="lg-bag"><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
                    <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a> 
                </ul>
            </div>
            <div id="mobile">
                <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
                <i id="bar" class="fas fa-outdent"></i> <!-- icon cho menu cho mobile -->
            </div>
        </section>

        <section id="page-header"> <!-- Banner bên cửa hàng -->
            <h2>#Stayhome</h2>
            <p>Tiết kiệm nhiều hơn với phiếu giảm giá & lên tới 70%</p>
        </section>

        <section id="product1" class="section-p1">
            <div class="pro-container">
                <div class="pro" onclick="window.location.href='sproduct.html';"> <!-- onclick="window.location.href='sproduct.html';" đường dẫn đến trang khác-->
                    <img src="img/products/f1.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/f2.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/f3.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/f4.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/f5.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/f6.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/f7.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/f8.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/n1.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/n2.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/n3.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/n4.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/n5.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/n6.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/n7.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
                <div class="pro">
                    <img src="img/products/n8.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Atronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                    <div class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></div>
                </div>
            </div>
        </section>
        
        <section id="pagination" class="section-p1">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#"><i class="fa-solid fa-arrow-right"></i></a>

        </section>

        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign up for newsletter</h4>
                <p>Get email updates about our latesst shop and <span>special offers.</span>
                </p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal"> Sign Up</button>
            </div>
        </section>

        <footer class="section-p1">
            <div class="col">
                <img class="logo" src="./img/logo.png" alt="" width="135px">
                <h4>Liên Hệ</h4>
                <p><strong>Địa chỉ:</strong> Lý Thường Kiệt, Tân Tiến, LaGi, Bình Thuận</p>
                <p><strong>Phone:</strong> +84 7722 2926/ (033 7742 075) </p>
                <p><strong>Giờ</strong> 06:00(AM) - 10:00(PM) Thứ 2 - CN hằng tuần</p>
                <div class="follow">
                    <h4>Follow</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4>About</h4>
                <a href="#">Về chúng tôi</a>
                <a href="#">Thông tin giao hàng</a>
                <a href="#">Chính sách bảo mật</a>
                <a href="#">Điều khoản & điều kiện</a>
                <a href="#">Liên hệ với chúng tôi</a>
            </div>
            <div class="col">
                <h4>Tài khoản của tôi</h4>
                <a href="#">Đăng nhập</a>
                <a href="#">Xem giỏ hàng</a>
                <a href="#">Danh sách yêu thích của tôi</a>
                <a href="#">Theo dõi đơn hàng</a>
                <a href="#">Trợ giúp</a>
            </div>
            <div class="col install">
                <h4>App tại</h4>
                <p>Ở app Store hoặc Google play</p>
                <div class="row">
                    <img src="img/pay/app.jpg" alt="">
                    <img src="img/pay/play.jpg" alt="">
                </div>
                <p>Cổng thanh toán an toàn</p>
                <img src="img/pay/pay.png" alt="">
            </div>

            <div class="copyright">
                <p>2023 © Copyright N2T_Nguyễn Thành Tâm. All Rights Reserved.</p>
            </div>
        </footer>
        <script src="script.js"></script>
    </body>

</html>