<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe House</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        .containerfull,
            .row {
                float: left;
                width: 100%;
            }

        .containerfull img,
            .boxleft img,
            .boxright img,
            .boxnews {
                width: 100%;
            }

    </style>
</head>

<body>
    <div class="containerfull padd20">
        <div class="container">
            <div class="logo col2"><img src="images/logo-bahozone-03-icon-h80.png" height="40" alt=""></div>
            <div class="menu col8">
                <a href="#">TRANG CHỦ</a>
                <a href="#">GIỚI THIỆU</a>
                <a href="#">SẢN PHẨM</a>
                <a href="#">DỊCH VỤ</a>
                <a href="#">LIÊN HỆ</a>
            </div>
        </div>
    </div>
    <div class="containerfull">
        <div class="bgbanner">SẢN PHẨM</div>
    </div>

    <section class="containerfull">
        <div class="container">
            <div class="col9 viewcart">
                <h2>ĐƠN HÀNG</h2>
            <table>
                <tr>
                    <th>STT</th>
                    <th>Hình</th>
                    <th>Tên sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th>Thao tác</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img src="" alt="" width="100"></td>
                    <td>san pham 1</td>
                    <td>100</td>
                    <td>1</td>
                    <td>100</td>
                    <td><a href="#">Xóa</a></td>
                </tr>
                

            </table>
        </div>
        <div class="col3">
            <h2>ĐƠN HÀNG</h2>
            <div class="total">
                <h3>Tổng: 1000000</h3>
            </div>
            <div class="coupon">
                <input type="text" placeholder="Nhập voucher">
            </div>
            <div class="total">
                <h3>Tổng thanh toán: 1000000</h3>
            </div>
            <button>Thanh toán</button>
        </div>


        </div>
    </section>




    <footer class="containerfull padd50">
        Copyright&copy;2023. MSSV + Tên SV
    </footer>

</body>

</html>